{
"primer_nombre": "${exchangeProperty.datosWorkerNames.get('FirstName')}",
"segundo_nombre": "${exchangeProperty.datosWorkerNames.get('MiddleNames')}",
"primer_apellido": "${exchangeProperty.datosWorkerNames.get('LastName')}",
"segundo_apellido": "${exchangeProperty.datosWorkerNames.get('LocalNameInformation1')}",
"tipo_documento": "${exchangeProperty.datosWorkerNationalId.get('NationalIdentifierType')}",
"documento": "${exchangeProperty.documento}",
"login": "${exchangeProperty.datosWorkerUser.get('Username')}",
"fecha_ingreso": "${exchangeProperty.datosWorkerRelationships.get('StartDate')}",
"estado_laboral": "${exchangeProperty.datosWorkerAssignments.get('AssignmentStatusType')}",
"area_personal": "${exchangeProperty.datosWorkerAssignments.get('CollectiveAgreementId')}",
"descripcion_area_personal": "${exchangeProperty.datosWorkerAssignments.get('CollectiveAgreementName')}",
"dependencia": "${exchangeProperty.datosWorkerAssignments.get('DepartmentId')}",
"descripcion_dependencia": "${exchangeProperty.datosDepartment.get('Name')}",
"posicion": "${exchangeProperty.datosWorkerAssignments.get('PositionId')}",
"descripcion_posicion": "${exchangeProperty.datosPosition.get('Name')}",
"funcion": "${exchangeProperty.datosWorkerAssignments.get('JobId')}",
"descripcion_funcion": "${exchangeProperty.datosJob.get('Name')}",
"tipo_contrato": "${exchangeProperty.datosContract.get('ContractType')}",
"tipo_nomina": "${exchangeProperty.datosWorkerAssignments.get('AssignmentCategory')}",
"centro_costo": "${exchangeProperty.centroCosto}",
"nombre_centro_costo": "${exchangeProperty.datosCentroCosto.get('Description')}",
"fecha_inicio_contrato": "${exchangeProperty.datosContract.get('EffectiveStartDate')}",
"fecha_fin_contrato": "${exchangeProperty.datosWorkerAssignments.get('ProjectedEndDate')}",
"tipo_sueldo": "${exchangeProperty.datosSalaries}",
"genero": "${exchangeProperty.datosWorkerGender.get('Gender')}",
"pais": "${exchangeProperty.datosAddresses.get('Country')}",
"descripcion_ciudad": "${exchangeProperty.datosAddresses.get('TownOrCity')}",
"descripcion_departamento": "${exchangeProperty.datosAddresses.get('Region2')}",
"codigo_ciudad": "${exchangeProperty.datosAddresses.get('AddlAddressAttribute2')}",
"codigo_departamento": "${exchangeProperty.datosAddresses.get('AddlAddressAttribute1')}",
"direccion": "${exchangeProperty.datosAddresses.get('AddressLine1').replace('"',"")}",
"telefono": "${exchangeProperty.datosWorkerPhone.get('PhoneNumber')}"
}